.play {
  width: 30vh; height: 30vh;
  background: #fff5e1;
  border-radius: 5vh;
  display: block;
}
.triangulo {
  width: 0; height: 0;
  margin-top: 5vh;
  margin-left: 8.5vh;
  border-top: 10vh solid transparent;
  border-bottom: 10vh solid transparent;
  border-left: 16.5vh solid black;
}

/*Configurações*/
#conteinerC {
  width: 80vw; height: 30vh;
  left: 10vw; top: 40vh;
  background: #fff5e1;
  position: absolute;
  display: flex;
  z-index: 3;
  border-radius: 5vh;
  justify-content: center;
  align-items: center;
}
.conteudo {
  width: 80vw; height: 30vh;
  position: relative;
}
.conteudo p{
  width: 80vw;
  position: absolute;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Arial Sans-Serif;
}
.fechar {
  width: 10vw; height: 10vw;
  position: absolute;
  left: 4vw; top: 4vw;
  display: inline-block;
  background: #fff5e1;
  border-radius: 1vh;
}
#botaozerar {
  width: 50vw; height: 20px;
  position: absolute;
  left: 15vw; bottom: 2vh;
  background: black;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.chaves {
  position: absolute;
  margin-top: 18vw;
}
.mute {
  width: 10vw; height: 10vw;
}


/*Depois do play*/
.cores {
  position: absolute;
  z-index: 3;
  background: gray;
  opacity: 0.5;
  display: none;
}
.box {
	width: 80vw; height: 80vw;
	position: absolute;
	top: 10vh; left: 10vw;
	overflow: scroll;
	border: 1px solid black;
	background: black;
}

.cor {
  width: 30vh; height: 30vh;
  border-radius: 5vh;
}

.verde {
  background: green;
  width: 45vw; height: 45vw;
  border-radius: 10vh;
}