.play {
  width: 30vh; height: 30vh;
  background: #fff5e1;
  border-radius: 5vh;
  display: block;
  margin: auto;
}
.triangulo {
  width: 0; height: 0;
  margin-top: 5vh;
  margin-left: 8.5vh;
  border-top: 10vh solid transparent;
  border-bottom: 10vh solid transparent;
  border-left: 16.5vh solid black;
}

/*Configurações*/
  .conteinerConfig {
    width: 80vw; height: 30vh;
    left: 10vw; top: 40vh;
    background: #fff5e1;
    position: absolute;
    display: none;
    border-radius: 5vh;
    justify-content: center;
    align-items: center;
  }
.conteudo {
  width: 80vw; height: 30vh;
  position: relative;
}
.conteudo p{
  width: 80vw;
  position: absolute;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Arial Sans-Serif;
}
.fechar {
  width: 10vw; height: 10vw;
  position: absolute;
  left: 4vw; top: 4vw;
  display: inline-block;
  background: #fff5e1;
  border-radius: 1vh;
}

.chaves {
  position: absolute;
  margin-top: 18vw;
}
.mute, .limpardados, .melhor {
  width: 10vw; height: 10vw;
  display: inline-block;
  border-radius: 1vh;
  margin-right: 4vw;
}
.melhor {
  width: 20vw;
}

/*Depois do play*/
.selectcor {
  position: absolute;
  background: #3d3d3d;
  opacity: 0.5;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw; height: 100vh;
}
.cores {
	width: 30vh; max-height: 60vh;
	position: absolute;
	top: 20vh; left: 26.5vw;
	overflow: scroll;
}

.cor {
  width: 47vw; height: 47vw;
  border-radius: 5vh;
  display: inline-block;
}

.verde {
  background: green;
  animation: verde 10s infinite;
}
.vermelho{
  background: red;
}

@keyframes verde {
  0%{
    background: green;
  }
  25%{
    background: olive;
  }
  50%{
    background: limegreen;
  }
  75%{
    background: seagreen;
  }
  100%{
    background: green;
  }
}


/*zindex*/
  .selectcor {
    z-index: 3;
  }
  .conteinerConfig {
    z-index: 3;
  }