.play {
  width: 30vh; height: 30vh;
  background: #fff5e1;
  border-radius: 5vh;
  display: block;
}

.triangulo {
  width: 0; height: 0;
  margin-top: 5vh;
  margin-left: 8.5vh;
  border-top: 10vh solid transparent;
  border-bottom: 10vh solid transparent;
  border-left: 16.5vh solid black;
}

#conteinerC {
  width: 80vw; height: 20vh;
  border: 1px solid white;
  background: #fff5e1;
  position: absolute;
  display: flex;
  z-index: 3;
  border-radius: 5vh;
  justify-content: center;
  aling-items: center;
}
.botaozerar {
  width: 30vw: height: 20pt;
  background: black;
}
