/*Pontos*/
.conteinerP {
  height: 20vh;
}
.conteinerP .pontuacao {
  font-style: italic;
  text-align: center;
  color: white;
  position: relative;
}
.pontos, .pontosF {
  font-size: 15vh;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/*fail*/
.T404 .conteinerF{
  width: 80vw;
  height: 30vh;
  background: #fff5e1;
  margin-top: 35vh;
  margin-left: 10vw;
  border-radius: 5vw;
  color: black;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
.conteinerF .pontuacao {
  width: 80vw;
  font-style: italic;
  text-align: center;
  color: black;
  position: relative;
  display: block;
}
.controles {
  width: 80vw;
  display: flex-box;
  justify-content: center;
  align-items: center;
}

/*Conteiner de Card Cor*/
.conteiner1 {
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: central;
  margin-bottom: 20px;
}
.cardcor {
  width: 30vh;
  height: 30vh;
  background: green;
  border-radius: 5vh;
}

/*Conteiner de Card Nome*/
.conteiner2 {
  display: flex;
}
.card1, .card2, .card3 {
  width: 15vh; height: 15vh;
  background: #fff5e1;
  display: inline-flex;
  justify-content: space-arround;
  border-radius: 2.5vh;
  margin: 0 5px 0 5px;
  transition: .5s;
}
.conteiner2 p {
  font-size: 2.5vh;
  display: flex;
  margin: auto auto;
  text-align: center;
  font-family: Sans-Serif;
}


/*Caracteristicas das cards*/
.errado {
  box-shadow:
    inset 3vh 3vh 10vh red,
    inset -3vh -3vh 10vh red,
    1vh 1vh 2.5vh red,
    -1vh -1vh 2.5vh red,
    -1vh 1vh 2.5vh red,
    1vh -1vh 2.5vh red;
}
.certo {
  box-shadow:
    inset 3.5vh 3.5vh 10vh gold,
    inset -3.5vh -3.5vh 10vh gold,
    1vh 1vh 5vh gold,
    -1vh -1vh 5vh gold,
    -1vh 1vh 5vh gold,
    1vh -1vh 5vh gold;
  z-index: 1;
}

/*sombra experimental*/
.cardcor, .cardin, .conteinerF {
  box-shadow:
    inset 5px 5px 10px #ffffff50,
    inset -5px -5px 10px #00000050;
}

/*Keyframes*/
@keyframes failin {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/*header em fail*/
.topleft {
  margin-top: 0;
  margin-left: 0;
}
.topright {
  margin-top: 0;
  margin-left: 0;
}